@model Dental_Clinic.Models.Patient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id = "myForm2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </form>
        <div class="form-group">
            <label for="ChiefComplain">Chief Complain</label>
            <textarea form="myForm2" class="form-control" id="ChiefComplain" name="ChiefComplain" >@Model.ChiefComplain</textarea>
        </div>
        <div class="form-group">
            <label for="Procedure">Procedure</label>
            <textarea form="myForm2" class="form-control" id="Procedure" name="Procedure">@Model.Procedure</textarea>
        </div>
        <div class="form-group">
            <button type="submit" form="myForm2" class="btn btn-cust">Save</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
