
@model Dental_Clinic.Models.DentalHistory
@{
    ViewData["Title"] = "Teeth Details";
    var Teeth = ViewBag.TeethDetails;
    List<string> TeethImages = ViewBag.TeethImgs;
    var index = ViewBag.index;
}

<dl class="row">
    <dt class="col-sm-2">
        Details
    </dt>
    <dd class="col-sm-10">
        @Teeth
    </dd>
    <dt class="col-sm-2">
        Photos
    </dt>
    <dd class="col-sm-10">
        @if (TeethImages != null&&TeethImages.Count!=0)
        {

            foreach(var img in TeethImages)
            {
                <img src="~/uploads/@img" width="100" class="TeethImage"/>
            }
        }
        else
        {
            <p>There Is no Photos</p>
        }
    </dd>
</dl>
<a asp-action="Details" asp-route-id="@Model.Id">Back To All</a>|
<a asp-action="EditDownLeft" asp-route-id="@Model.Id" asp-route-index="@index">Edit</a>