@{
    int index = ViewBag.index;
    int PatientId = ViewBag.patId;
}

<h1>Create</h1>

<h4>DentalHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUpRight" id="create_4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Index" id="Index" value="@index" />
            <input type="hidden" name="PatientId" id="PatientId" value="@PatientId" />
        </form>
        <div class="form-group">
            <label for="Detail" class="control-label">Detail</label>
            <textarea form="create_4" id="Detail" name="Detail" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input form="create_4" type="submit" value="Create" class="btn btn-cust" />
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
